body{
    font-family: 'Jura', sans-serif;
}
a{
    color: #197fe5;
}
/*      Navbar      */
.navbar{
    margin: -10px -8px 0 -10px;
	padding: 14px;
	/*position: fixed;*/
	list-style-type: none;
	overflow: hidden;
	background-color: #272727;
}
.navbar a{
    padding: 5px 5px;
    display: block;
    color: #fff;
	text-decoration: none;
    font-size: 15px;
}
.navbar li{
	float: left;
	margin-right: 25px;
}
.navhome{
    margin-left: 5px;
}
.icon-profile{
    position: absolute;
    right: 45px;
    font-size: 18px!important;
}
.main-profile{
    position: absolute;
    top: -100%;
    right: 20px;
    background-color: #fff;
    width: 110px;
    border: solid 1px rgb(156, 163, 175);
    border-radius: 10px;
}
.main-profile.active{
    top: 45px!important;
}
.main-profile a{
    color: #000;
    text-decoration: none;
    font-size: 17px;
}
/*      Sing in and Sing up    */
.form{
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(128,128,128,0.4);
    width: 500px;
    margin: auto;
}
.form form{
    text-align: center;
}
.sing{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
}
.inpute_info{
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 0;
}
@media screen and (max-width: 800px){
    body{
        width: 800px;
    }
    /*      Navbar      */
    .navbar{
        margin: -10px -8px 50px -10px;
        padding: 50px;
        list-style-type: none;
        overflow: hidden;
        background-color: #272727;
    }
    .navbar a{
        font-size: 30px;
    }
    /*      Sing in and Sing up    */
    .form{
        border: solid 1px;
        border-radius: 10px;
        background-color: rgba(128,128,128,0.4);
        width: 100%;
    }
    .form__title{
        font-size: 75px;
    }
    .inpute_info{
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: solid 0;
        font-size: 35px;
    }
    .sing{
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 35px;
    }
    form label{
        font-size: 35px;
    }
    form p{
        font-size: 35px;
    }
}