body{
    font-family: 'Jura', sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp4676582.jpg);
    background-attachment: fixed;
    margin: 0!important;
}
a{
    color: #197fe5;
}
/*      Navbar      */
.main-navbar{
    position: fixed;
    width: 100%;
}
.navbar{
    margin: -1.4% -8px 0 -10px;
	padding: 14px;
	list-style-type: none;
	overflow: hidden;
	background-color: #272727;
}
.navbar a{
    padding: 5px 5px;
    display: block;
    color: #fff;
	text-decoration: none;
    font-size: 15px;
}
.navbar li{
	float: left;
	margin-right: 25px;
}
.navhome{
    margin-left: 5px;
}

.main-language, .main-language_about{
    position: absolute;
    top: -500%;
    right: 45px;
    background-color: #fff;
    width: 130px;
    border: solid 1px rgb(156, 163, 175);
    border-radius: 10px;
}
.main-language_about.active{
    top: 45px!important;
}
.main-language.active{
    top: 25px!important;
}
/*      Sing in and Sing up    */
.form{
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(128,128,128,0.4);
    width: 500px;
    margin: auto;
}
.form form{
    text-align: center;
}
.sing{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
}
.inpute_info{
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 0;
}
/*      Content     */
.space{
    margin: 50%;
}
.about-prg{
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 40px 0;
}
.about-prg p{
    text-align: justify;
    font-size: 18px;
}
.about-us{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #272727;
    padding: 40px 0;
}
.about-us p{
    text-align: justify;
    font-size: 18px;
}
.about-prg a{
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 800px){
    /*          Mobile        */
    body{
        width: 800px;
    }
    /*      Navbar      */
    .navbar{
        margin: -10px -8px 50px -10px;
        padding: 50px;
        list-style-type: none;
        overflow: hidden;
        background-color: #272727;
    }
    .navbar a{
        font-size: 30px;
    }
    /*      Sing in and Sing up    */
    .form{
        border: solid 1px;
        border-radius: 10px;
        background-color: rgba(128,128,128,0.4);
        width: 100%;
    }
    .form__title{
        font-size: 75px;
    }
    .inpute_info{
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: solid 0;
        font-size: 35px;
    }
    .sing{
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 35px;
    }
    form label{
        font-size: 35px;
    }
    form p{
        font-size: 35px;
    }
}