body{
    font-family: 'Jura', sans-serif;
    background-image: url(https://img.wallpapersafari.com/desktop/1600/900/0/56/avkgBW.jpg);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0!important;
}
a{
    color: #197fe5;
}
/*      Navbar      */

.navbar{
    margin-top: -1px;
	padding: 14px;
	list-style-type: none;
	overflow: hidden;
	background-color: #272727;
}
.navbar a{
    padding: 5px 5px;
    display: block;
    color: #fff;
	text-decoration: none;
    font-size: 15px;
}
.navbar li{
	float: left;
	margin-right: 25px;
}
.navhome{
    margin-left: 5px;
}

.main-language, .main-language_about{
    position: absolute;
    top: -500%;
    right: 45px;
    background-color: #fff;
    width: 130px;
    border: solid 1px rgb(156, 163, 175);
    border-radius: 10px;
}
.main-language_about.active{
    top: 45px!important;
}
.main-language.active{
    top: 45px!important;
}
/*      Content     */
.cont{
    width: 50%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}
.cont__text h1, ._AboutUs{
    text-align: center;
}
.cont__text p{
    text-align: justify;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}
.about-us{
    width: 75%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-us__img{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.about-us__img h1{
    font-size: 25px;
}
.about-us__img img{
    border-radius: 50%;
}
.Raya_Lilova, .Radoslav_Ivanov, .Stivun_Iilov, .Georgi_Kotakov, .Venelin_Nikolov, .Svetoslav_Stoilov{
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.down-btn{
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px 15px;
    font-size: 18px;
    background-color: #026ed3;
    color: #fff;
}
.div-down-btn{
    display: flex;
    justify-content: center;
}